body {
    font: 16px/1.5 Georgia, Verdana, Arial;
    margin: 0 auto;
    width: 600px;
    color: #333;
    background-color: #fff;
}
.mainTitle {
    font-size: 3em;

}
.content {
    font-size:1.2em;

}
.date{
    font-size:0.9em;
    font-style:italic;

}
.showAll{


}
.comment{
    text-decoration: underline;

}