parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
extensions:
    monolog: Kdyby\Monolog\DI\MonologExtension
monolog:
#fallback saves logs to /log/ - only useful with localhost
    name: myblog
    registerFallback: yes

